.dads-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: calc(32 / 16 * 1rem);
  list-style-type: revert;
}

.dads-list > li {
  --_spacing: 0;
  padding-top: var(--_spacing);
  padding-bottom: var(--_spacing);
}

.dads-list[data-spacing="4"] > li {
  --_spacing: calc(4 / 16 * 1rem);
}

.dads-list[data-spacing="8"] > li {
  --_spacing: calc(8 / 16 * 1rem);
}

.dads-list[data-spacing="12"] > li {
  --_spacing: calc(12 / 16 * 1rem);
}

.dads-list[data-marker="number"] {
  padding-left: 0;
  list-style-type: none;
}

.dads-list[data-marker="number"] > li {
  padding-left: calc(32 / 16 * 1rem);
}

.dads-list[data-marker="number"] > li > a:only-child {
  margin-left: calc(-32 / 16 * 1rem);
  padding-left: calc(32 / 16 * 1rem);
}

.dads-list[data-marker="number"] > li > span:first-child,
.dads-list[data-marker="number"] > li > a:only-child > span:first-child {
  margin-left: calc(-32 / 16 * 1rem);
  display: inline-block;
  min-width: calc(32 / 16 * 1rem);
  white-space: nowrap;
}

.dads-list[data-marker="number"] > li > a:only-child > span:first-child {
  text-decoration: inherit;
}

.dads-list .dads-list {
  margin-top: var(--_spacing);
  margin-bottom: calc(-1 * var(--_spacing));
}
